# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    environment:
      DOTNET_HOME_OVERRIDE: C:\Program Files\dotnet
      RUNNER_WORKSPACE: C:\Muhammadkarim\Projects\Armada Motors\CI
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
  deploy:
    runs-on: windows-latest
    environment:
      DOTNET_HOME_OVERRIDE: C:\Program Files\dotnet
      RUNNER_WORKSPACE: C:\Muhammadkarim\Projects\Armada Motors\CI
    needs: build
    steps:
      - name: Deploy
        run: dotnet publish --runtime win-x64 --configuration release --self-contained false
